@font-face {
  font-family: "iconfont"; /* Project id 2715277 */
  src: url('iconfont.woff2?t=1629510074680') format('woff2'),
       url('iconfont.woff?t=1629510074680') format('woff'),
       url('iconfont.ttf?t=1629510074680') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guochengshuju:before {
  content: "\e621";
}

.icon-pingjiatongji:before {
  content: "\e622";
}

.icon-ziyuanguanli:before {
  content: "\e623";
}

.icon-zujian:before {
  content: "\e616";
}

.icon-dingyueguanli:before {
  content: "\e617";
}

.icon-zhuye:before {
  content: "\e618";
}

.icon-goujian:before {
  content: "\e619";
}

.icon-dingyuefangguanli:before {
  content: "\e61a";
}

.icon-gerenzhongxin:before {
  content: "\e61b";
}

.icon-zuhuguanli:before {
  content: "\e61c";
}

.icon-zhuyeguanli:before {
  content: "\e61d";
}

.icon-goujianguanli:before {
  content: "\e61e";
}

.icon-tuandui:before {
  content: "\e61f";
}

.icon-yewu:before {
  content: "\e620";
}

.icon-zonglan:before {
  content: "\e611";
}

.icon-daijiaofu:before {
  content: "\e613";
}

.icon-yijiaofu:before {
  content: "\e614";
}

.icon-daizhifu:before {
  content: "\e615";
}

.icon-tuanduiguanli:before {
  content: "\e60f";
}

.icon-caozuorizhi:before {
  content: "\e610";
}

