@charset "UTF-8";
/* 系统头部颜色 */
/* 菜单选中颜色 */
/* 表头和内容不对齐解决 */
body .el-table th.gutter {
  display: table-cell !important;
}

body .el-table colgroup.gutter {
  display: table-cell !important;
}

.el-table__body-wrapper.is-scrolling-none ~ .el-table__fixed,
.el-table__body-wrapper.is-scrolling-none ~ .el-table__fixed-right {
  height: auto !important;
  bottom: 0 !important;
}

.el-table .el-table__fixed, .el-table__fixed-right {
  height: auto !important;
  bottom: 9px;
}

.el-dropdown-menu {
  min-width: 100px;
}

.el-table thead {
  color: #666666;
}

.el-table th {
  background-color: #f1f5fe;
}

.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: #f1f5fe;
  color: #0299ff;
}

.el-dialog__header {
  padding: 15px 20px;
  border-radius: 5px;
}

.el-dialog {
  border-radius: 5px;
  margin-top: 10vh !important;
}

.el-dialog__body .ele-form-btns .el-form-item__content .el-button {
  float: right;
  margin-right: 10px;
}

.el-tree-node__label {
  font-size: 13px;
}

.el-input-number--small {
  width: 100% !important;
}

.el-dialog__body {
  max-height: 530px;
  overflow: auto;
}

thead .el-table-column--selection>.cell{
  padding-left: 10px !important;
}
.el-table--border .el-table__cell:first-child .cell{
  padding-left: 14px;
}


.upload-file-none .ele-upload-file-list {
  display: none;
}

.el-table th.el-table__cell {
  background-color: #eff2fb;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #e4e4e4;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #a1a3a9;
  border-radius: 6px;
}

.el-menu--popup .el-menu-item.is-active {
  background: -webkit-gradient(linear, left top, right top, from(#1a55c0), to(#2c3849));
  background: linear-gradient(90deg, #1a55c0 0%, #2c3849 100%);
}

.ele-form--inline .el-form .el-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ele-form--inline .el-form .el-row .ele-form-btns {
  width: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ele-form .vue-treeselect__control {
  height: 32px;
}

.ele-form .vue-treeselect__placeholder {
  color: #bdbdbd;
  font-size: 13px;
}

.ele-form .vue-treeselect__single-value {
  color: #606266;
}

.vue-treeselect__placeholder,
.vue-treeselect__single-value {
  line-height: 32px;
}

.popperClass[x-placement^='right'] {
  margin-left: -1px;
  background-color: #252d3e;
  padding: 10px;
  min-width: 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0;
}

.popperClass[x-placement^='right'] {
  margin-left: -1px;
  background-color: #252d3e;
  padding: 10px;
  min-width: 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0;
}
/*# sourceMappingURL=global.css.map */